version: 2
updates:
  - package-ecosystem: "pip"
    directory: "/"
    schedule:
      interval: "daily"
     assignees:
      - "MaximeMorille"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
     assignees:
      - "MaximeMorille"
