[flake8]
max-line-length = 100
max-complexity = 10
max-arguments = 10
max-module-members = 10
max-methods = 11
ignore = I001, I002, DAR401, WPS326, C812, C815, D100, RST
docstring-convention = google
inline-quotes = "
per-file-ignores =
  braincube_connector/memory_base/memory_base.py:WPS214
