name: Build and Deploy doc
on: [push]
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v2

      - name: Set up python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8.5

      - name: Load cached venv
        id: cached-poetry-dependencies
        uses: actions/cache@v2
        with:
          path: |
            .venv
          key: venv-${{ runner.os }}-${{ hashFiles('**/poetry.lock') }}

      - name: Install Poetry
        uses: snok/install-poetry@v1.1.2
        with:
          virtualenvs-create: true
          virtualenvs-in-project: true

      - name: Install dependencies
        if: steps.cached-poetry-dependencies.outputs.cache-hit != 'true'
        run: poetry install

      - name: Update doc version
        run: |
          sed -i "s|VERSION|${{ github.event.release.tag_name }}|" mkdocs.yml

      - name: Build documentation
        run: poetry run mkdocs build

#      - name: Deploy
#        uses: JamesIves/github-pages-deploy-action@4.1.1
#        with:
#          branch: gh-pages
#          folder: site